h3 {
    font-size: 130%;
    margin-top: 1px;
    margin-bottom: 1px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Noto Sans", "DejaVu Serif", "Verajja Serif";
}

div.pgrammar_dict {
    border: 2px solid pink;
    border-collapse: collapse;
    border-radius: 5px;
    line-height: 150%;
    overflow: auto;
    text-align: left;
}

table.pgrammar_dict {
    border: 2px solid transparent;
    border-right: 1px pink;
    border-collapse: collapse;
    border-radius: 5px;
    line-height: 150%;
    overflow: auto;
    margin: 0px;
    text-align: center;
    vertical-align: center;
    /* white-space: nowrap; */
}

table.pgrammar_dict td {
    padding: 2px 5px;
    border: 1px solid pink;
    border-collapse: collapse;
}